@font-face {
  font-family: "Inter";
  src: url("./Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
}
@font-face {
  font-family: "Inter";
  src: url("./Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-style: italic;
  font-weight: 100 900;
}
@font-face {
  font-family: "Noto Serif";
  src: url("./NotoSerif-VariableFont_wdth,wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
}
@font-face {
  font-family: "Noto Serif";
  src: url("./NotoSerif-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-style: italic;
  font-weight: 100 900;
}
